<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/edit_team.css') }}">
    <title>Edit Team Info</title>
</head>
<body>
    <div id="edit_info">
        <h1>Edit Team Info!</h1>
        <form action="/update/team/{{this_team.id}}" method="POST">
            {% with messages = get_flashed_messages(category_filter=["team_add"]) %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    {% for message in messages %}            <!-- loop through the messages -->
                        <p class="error_msg">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="form_field">
                <label>City: </label>
                <input type="text" name="city" value="{{this_team.city}}">
            </div>
            <div class="form_field">
                <label>Team Name:</label>
                <input type="text" name="team_name" value="{{this_team.team_name}}">
            </div>
            <div>
                <input type="submit" value="Save Update" class="submit_btn">
                <a href="/teams" class="cancel_btn">Cancel</a>
            </div>
    </div>
</body>
</html>